.item .postImg img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 50px;
    float: left;
}

.item span {
    display: block;
    font-size: 15px;
    margin-top: 8px;
    text-align: right;
}

.item {
    margin-bottom: 15px;
    background-color: lemonchiffon;
    border-radius: 9px;
    padding: 10px;
    border: 1px solid lightcyan;
}

.item .postMessage {
    float: left;
}