header img {
    width: 100px;
}

.app-wrapper {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "head head" "nav cont";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    font-size: 20px;
}

.header {
    grid-area: head;
    background-color: cornflowerblue;
}

.nav {
    grid-area: nav;
}

.content {
    grid-area: cont;
}

.content img {
    width: 100%;
}