.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: rgb(201, 133, 46);
}

.dialogsItems .dialog {
    padding: 10px;
}

.messages {
    padding: 10px;
}

.messages .message {
    padding: 10px;
}