.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 9fr 2fr;
    grid-template-areas: "dialogs messages" 
                        "dialogs input";
}

.dialogsItems {
    padding: 10px;
    grid-area: "dialogs";
}

.sendMessage {
    grid-area: "input";
    display: flex;
    align-items: center;
    justify-content: left;
}

.sendMessage textarea {
    resize: none;
    padding: 10px;
    margin-right: 20px;
    background-color: rgb(245, 245, 245);
}

.sendMessage button {
    width: 90px;
    height: 30px;
    cursor: pointer;
    text-transform: uppercase;
}

.sendMessage button,textarea {
    display: block;
    margin: 5px 0;
    border: 1px solid lightcyan;
    border-radius: 9px;
}

.dialogsItems .active {
    color: rgb(201, 133, 46);
}

.dialogsItems .dialog {
    color: lightblue;
}

.dialogsItems .dialog:hover {
    border: 1px solid #000;
}

.dialogsItems .dialog.active {
    border: 1px solid #000;
}

.dialogsItems .dialog a {
    display: flex;
    justify-content: left;
    flex-direction: row-reverse;
    align-items: center;
    color: inherit;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.dialogsItems .dialog img {
    display: block;
    width: 20px;
    margin-right: 8px;
}

.messages {
    padding: 10px;
}

.messages .message {
    padding: 10px;
    background-color: khaki;
    width: fit-content;
}